<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiloApp</title>
</head>
<body>
    <a href="{% url "home" %}">Main</a>
    <hr />

    {% block content %}{% endblock %}

</body>
</html>