{% extends "base.html" %}

{% block content %}
    <h3>{{ action_type }} user:</h3>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{{ action_type }}">
    </form>

{% endblock %}