{% extends "base.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
        <h3>Are You sure You want to delete user "{{ object }}"?</h3>
        <input type="submit" value="Confirm">
    </form>

{% endblock %}