{% extends "base.html" %}
{% load milotags %}

{% block content %}
    <h3>Users list:</h3>

    <table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Birthday</th>
        <th>Eligible</th>
        <th>Random</th>
        <th>BizzFuzz</th>
    </tr>
    </thead>
    <tbody>
    {% for user in object_list %}
        <tr>
            <td><a href="{% url "view-user" user.id %}">{{ user.username }}</a></td>
            <td>{{ user.birthday|date:"m/d/Y" }}</td>
            <td>{% eligible user %}</td>
            <td>{{ user.rnd }}</td>
            <td>{% bizzfuzz user %}</td>
        </tr>
    {% empty %}
        <tr><td colspan="5">No users found.</td></tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url "create-user" %}">Create</a>
    <hr />
    <a href="{% url "download" %}">Download as CSV</a>
{% endblock %}