{% extends "base.html" %}
{% load milotags %}

{% block content %}
    <h3>User data for "{{ object.username }}":</h3>

    <strong>Birthday:</strong><p>{{ object.birthday|date:"d/m/Y" }}</p>
    <strong>Eligible:</strong><p>{% eligible object %}</p>
    <strong>Random:</strong><p>{{ object.rnd }}</p>
    <strong>BizzFuzz:</strong><p>{% bizzfuzz object %}</p>

    <a href="{% url "edit-user" object.id %}">Edit</a> |
    <a href="{% url "delete-user" object.id %}">Delete</a>

{% endblock %}